html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 44px;
  font-family: 'Pacifico', sans-serif;
  color: #0600F6;
  line-height: 1.4;
}

h3 {
  font-size: 44px;
  font-family: 'Fredoka One', cursive;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #FE454B;
  text-shadow:
  4px 4px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.content {
  flex: 1 0 auto;
  background: url(../images/hotdog.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.right {
  text-align: right;
}

.top_bun {
  position: absolute;
  top: 360px;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
}

.bottom_bun {
  position: absolute;
  top: 640px;
  margin: 0 auto;
  text-align: center;
  left: 0;
  right: 0;
}

#footer {
  height: 70px;
  color: #162752;
  padding: 30px;
  font-weight: 700;
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
